/* header layout*/

:root {
  --left-section-width: 326px; 
  --table-min-width: 32ch;
}

body {
  margin: 0;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 10px 5px;
}

header > div {
  display: flex;
}

header > .header-left {
  font-size: 1rem;
  align-items: center;
  gap: 1ch;
}

header > .header-right {
  display: flex;
  gap: 1ch;
}

/* header border */

header {
  border-bottom: solid 3px gray;
  box-shadow: 0 0 10px, inset 0 -7px 10px -7px;
}

/* main layout */

main {
  display: flex;
}

.flex-padding-left {
  flex: 1 1 calc(var(--left-section-width) / 2);
}

.flex-padding-right {
 flex: 1 1 calc(var(--left-section-width) / 4); 
}
.container {
  display: grid;
  column-gap: 8ch;
  row-gap: 1ch;
  padding-bottom: 40px;
  justify-items: left;
  grid-template-areas: 
    "h1-left         .       ."
    "h1-left         .       h2-right"
    "upper-text-left reviews calendar"
    "upper-text-left reviews calendar"
    "h2-left         reviews calendar"
    "languages-left  reviews calendar"
    "lower-text-left reviews calendar"
    ".               .       calendar"
    ".               .       address";
}

.header-left {
  grid-area: h1-left;
}

.upper-text-left {
  grid-area: upper-text-left;
}

.h2-left {
  grid-area: h2-left;
}

.languages {
  grid-area: languages-left;
}

.lower-text-left {
  grid-area: lower-text-left;
}

.reviews {
  min-width: 320px;
  grid-area: reviews;
}

.h2-right {
  grid-area: h2-right;
}

.calendar {
  grid-area: calendar;
}

address {
  grid-area: address;
}

/* left */

.header.left {
  font-size: 2.5rem;
}

.upper-text-left {
  max-width: 32ch;
}

.languages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2ch;
}

.languages > .lang {
  justify-self: flex-end;
}

/* right */

.reviews > h3 {
  width: 1ch;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

/* right table */

table {
  border-spacing: 0 2ch;
  min-width: var(--table-min-width);
}

thead > tr {
  font-weight: 600;
}

tbody > tr > * {
  padding: 1ch;

}

tbody > tr {
  border-radius: 5px;
}

tbody > tr:nth-child(even) {
  background-color: #e8e8e8;
}

tbody > tr:nth-child(odd) {
  background-color: #f3f3f3;
}

thead > tr > td.day {
  border-right: 0;
}

.day {
  text-align: right;
  border-right: solid 3px #c6c6c6;
  padding: 0 1ch 0 2ch;
}

.timeslot {
  display: grid;
  row-gap: 0.5ch;
}

/* zoom-form */

.zoom-form {
  display: grid;
  row-gap: 1ch;
}

.zoom-input {
  display: grid;
  row-gap: 0.5ch;
}

.zoom-input > * {
  max-width: calc(var(--table-min-width));
}

.zoom-input > *:nth-child(3) {
  margin-top: 1ch;
}

.zoom-form > button {
  justify-self: flex-end;
} 

/* address */

address {
  display: grid;
  row-gap: 1ch;
}

.contact-medium {
  font-weight: 800;
}